#main-footer{
    background: #343a40;
    color: white;
}

#page-header{
    height: 200px;
    background: url("../assets/img/bgIMG.jpg");
    background-position: 54% 95%;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 60px;
}